<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        nav {
            margin-bottom: 20px;
            font-size: 20px;
        }

        nav a {
            margin-right: 20px;
            text-decoration: none;
            color: red;
        }
    </style>
</head>
<body>
    <div align="center">
        <h1>WELCOME TO DE BINAR ACADEMY BACKEND CHALLENGE 7</h1>
    
    <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/forgotpassword">Forgot Password</a>
    </nav>
    </div>
</body>
</html>
